# Исследование надежности заемщиков

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('data4.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [204]:
display(data.head(20))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category,children_group,status
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью,Дети есть,Очень богатый
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем,Дети есть,Бедный
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью,Нет детей,Средний
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования,Дети есть,Очень богатый
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы,Нет детей,Средний
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью,Нет детей,Очень богатый
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью,Нет детей,Очень богатый
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования,Нет детей,Средний
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы,Дети есть,Нищий
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью,Нет детей,Средний
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,C,операции с недвижимостью,Дети есть,Бедный
11,0,792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,C,операции с недвижимостью,Нет детей,Нищий
12,0,365286.622650,65,среднее,1,гражданский брак,1,M,пенсионер,0,118514,сыграть свадьбу,C,проведение свадьбы,Нет детей,Бедный
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,C,операции с автомобилем,Нет детей,Бедный
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,C,операции с недвижимостью,Нет детей,Богатый
15,1,972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости,C,операции с недвижимостью,Дети есть,Бедный
16,0,1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость,B,операции с недвижимостью,Нет детей,Очень богатый
17,0,2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости,C,операции с недвижимостью,Нет детей,Нищий
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля,C,операции с автомобилем,Нет детей,Нищий
19,0,10038.818549,48,среднее,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля,B,операции с автомобилем,Нет детей,Очень богатый

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [203]:
data.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21331 entries, 0 to 21524
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   children               21331 non-null  int64
 1   days_employed          21331 non-null  float64
 2   dob_years              21331 non-null  int64
 3   education              21331 non-null  object
 4   education_id           21331 non-null  int64
 5   family_status          21331 non-null  object
 6   family_status_id       21331 non-null  int64
 7   gender                 21331 non-null  object
 8   income_type            21331 non-null  object
 9   debt                   21331 non-null  int64
 10  total_income           21331 non-null  int32
 11  purpose                21331 non-null  object
 12  total_income_category  21331 non-null  object
 13  purpose_category       21331 non-null  object
 14  children_group         21331 non-null  object
 15  status                 21331 non-null  category
dtypes: category(1), float64(1), int32(1), int64(5), object(8)
memory usage: 2.5+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [172]:
data.isna().sum().reset_index()

                    index  0
0                children  0
1           days_employed  0
2               dob_years  0
3               education  0
4            education_id  0
5           family_status  0
6        family_status_id  0
7                  gender  0
8             income_type  0
9                    debt  0
10           total_income  0
11                purpose  0
12  total_income_category  0
13       purpose_category  0
14         children_group  0
15                 status  0

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [111]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()
display(data.head())

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category,children_group,status
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью,Дети есть,Очень богатый
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем,Дети есть,Бедный
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью,Нет детей,Средний
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования,Дети есть,Очень богатый
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы,Нет детей,Средний

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [173]:
data.groupby('income_type')['days_employed'].agg('median').reset_index()

       income_type  days_employed
0      безработный  366413.652744
1        в декрете    3296.759962
2      госслужащий    2689.137274
3        компаньон    1555.947387
4        пенсионер  365286.622650
5  предприниматель     520.848083
6        сотрудник    1572.328285
7          студент     578.751554

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [170]:
data = data[(data['children'] != -1) & (data['children'] != 20)]
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [169]:
number_of_children = data['children'].unique()
print('Уникальные значения количества детей равны:',  *number_of_children)

Уникальные значения количества детей равны: 1 0 3 2 4 5

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [78]:
data.isna().sum().reset_index()

                    index  0
0                children  0
1           days_employed  0
2               dob_years  0
3               education  0
4            education_id  0
5           family_status  0
6        family_status_id  0
7                  gender  0
8             income_type  0
9                    debt  0
10           total_income  0
11                purpose  0
12  total_income_category  0
13       purpose_category  0
14         children_group  0
15                 status  0

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [75]:
print('Количество дубликатов равно:', data.duplicated().sum())

Количество дубликатов равно: 17

In [77]:
data = data.drop_duplicates()
print('Количество дубликатов стало равно:', data.duplicated().sum())

Количество дубликатов стало равно: 0

**Задание 15. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [16]:
data['education'] = data['education'].str.lower()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [74]:
data['total_income_category'] = data['total_income'].apply(categorize_income)
display(data.head())

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category,children_group,status
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью,Дети есть,Очень богатый
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем,Дети есть,Бедный
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью,Нет детей,Средний
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования,Дети есть,Очень богатый
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы,Нет детей,Средний

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [178]:
data['purpose'].unique().tolist()

['покупка жилья',
 'приобретение автомобиля',
 'дополнительное образование',
 'сыграть свадьбу',
 'операции с жильем',
 'образование',
 'на проведение свадьбы',
 'покупка жилья для семьи',
 'покупка недвижимости',
 'покупка коммерческой недвижимости',
 'покупка жилой недвижимости',
 'строительство собственной недвижимости',
 'недвижимость',
 'строительство недвижимости',
 'на покупку подержанного автомобиля',
 'на покупку своего автомобиля',
 'операции с коммерческой недвижимостью',
 'строительство жилой недвижимости',
 'жилье',
 'операции со своей недвижимостью',
 'автомобили',
 'заняться образованием',
 'сделка с подержанным автомобилем',
 'получение образования',
 'автомобиль',
 'свадьба',
 'получение дополнительного образования',
 'покупка своего жилья',
 'операции с недвижимостью',
 'получение высшего образования',
 'свой автомобиль',
 'сделка с автомобилем',
 'профильное образование',
 'высшее образование',
 'покупка жилья для сдачи',
 'на покупку автомобиля',
 'ремонт жилью',
 'заняться высшим образованием']

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [179]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
display(data.head())

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category,children_group,status
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью,Дети есть,Очень богатый
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем,Дети есть,Бедный
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью,Нет детей,Средний
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования,Дети есть,Очень богатый
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы,Нет детей,Средний

## Исследуйте данные и ответьте на вопросы

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

In [29]:
children_debt = pd.DataFrame()
children_debt['count_children']=data.groupby('children')['debt'].count()
children_debt['sum_children']=data.groupby('children')['debt'].sum()
children_debt['result_children']=children_debt['sum_children']/children_debt['count_children']*100
children_debt.sort_values('result_children',ascending=False)
children_debt.reset_index()
#оранжевый стиль

data.head(10).style.format({"BasePay": "${:20,.0f}", 
                          "OtherPay": "${:20,.0f}", 
                          "TotalPay": "${:20,.0f}",
                          "TotalPayBenefits":"${:20,.0f}"})\
                 .format({"JobTitle": lambda x:x.lower(),
                          "EmployeeName": lambda x:x.lower()})\
                 .hide(axis="index")\
                 .background_gradient(cmap='Oranges')

In [72]:
data['children_group'] = data['children'].apply(lambda x: 'Нет детей' if x == 0 else 'Дети есть')

df_example = data.pivot_table(index = 'children_group', values = 'debt', aggfunc = \
                              ['count', 'sum', 'mean', lambda x: 1 - x.mean()])
df_example.reset_index(level =['children_group'], inplace = True)
df_example.columns = ['Наличие детей','Кол-во пользователей', 'Кол-во должников', '% должников', '% НЕдолжников']
df_example

,Наличие детей,Кол-во пользователей,Кол-во должников,% должников,% НЕдолжников
0,Дети есть,7241,669,0.092391,0.907609
1,Нет детей,14107,1063,0.075353,0.924647

Самый лучший показатель - у людей, которые не имеют детей.У людей, которые имеют троих детей, показатель на втором месте. Самый высокий показатель-у людей, которые имеют 4 детей. Значит, разрыв есть, хоть и небольшой.

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [24]:
children_debt['sum_children'] = pd.pivot_table(data,
              index = ['children'],
              values = ['debt'],
              aggfunc = 'sum',
              fill_value = 0)
children_debt['count_children'] = pd.pivot_table(data,
              index = ['children'],
              values = ['debt'],
              aggfunc = 'count',
              fill_value = 0)
children_debt['result_children'] = children_debt['sum_children'] / children_debt['count_children'] * 100
children_debt.sort_values('result_children',ascending=False)
children_debt.reset_index()

   children  count_children  sum_children  result_children
0         0           14107          1063         7.535266
1         1            4809           444         9.232689
2         2            2052           194         9.454191
3         3             330            27         8.181818
4         4              41             4         9.756098
5         5               9             0         0.000000

По результатам теста можно сделать вывод, что чаще платят вдовы и разведенные. Люди, которые не вступили еще в брак выплачивают во время позже.

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [171]:
labels = ['Нищий', 'Бедный', 'Средний', 'Богатый', 'Очень богатый']
data['status'] = pd.qcut(data['total_income'],
                              q=[0, .2, .4, .6, .8, 1],
                              labels = labels)
debt_from_total_income = pd.DataFrame()
debt_from_total_income['sum'] = data.groupby('status')['debt'].sum()
debt_from_total_income['count'] = data.groupby('status')['debt'].count()
debt_from_total_income['conversion'] = debt_from_total_income['sum'] / debt_from_total_income['count'] * 100
debt_from_total_income.sort_values('conversion', ascending = False)
debt_from_total_income.reset_index()

          status  sum  count  conversion
0          Нищий  344   4267    8.061870
1         Бедный  358   4266    8.391936
2        Средний  373   4266    8.743554
3        Богатый  358   4266    8.391936
4  Очень богатый  299   4266    7.008908

Мы разделили людей на категории по уровню запрплаты и выяснили, что зависимости между разными категориями примерно одинаковы, и поэтому можно сказать что уровень дохода не влияет на плтажеспособность человека по выплате кредита во время.

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

In [34]:
purpose_debt = pd.DataFrame()
purpose_debt['sum_purpose_category'] = data.groupby('purpose_category')['debt'].sum()
purpose_debt['count_purpose_category'] = data.groupby('purpose_category')['debt'].count()
purpose_debt['result_purpose_category'] = purpose_debt['sum_purpose_category'] / purpose_debt['count_purpose_category'] *100 
purpose_debt.sort_values('result_purpose_category', ascending = False)
round(purpose_debt.reset_index(), 2)

,purpose_category,sum_purpose_category,count_purpose_category,result_purpose_category
0,операции с автомобилем,400,4281,9.34
1,операции с недвижимостью,780,10754,7.25
2,получение образования,369,3989,9.25
3,проведение свадьбы,183,2324,7.87

По результатам теста мы выяснили, что люди, которые получают кредит на дополнительное образование-реже выплачивают его в более чем два раза, чем люди, которые получают кредит на покупку жилья. Выходит, что люди, которые берут кредит на покупку жилья или недвижимости в большей мере возращают его вовремя.

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

1.Человеческий фактор.

2.Техническая проблема.

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

Потому что выборка может быть неоднородна.Тогда постарадают люди, у которых какие то показатели низкие, например, зарплата, потому что их зарплата будет переоценена.

## Общий вывод.

Анализ показал, что люди, которые берут кредит  на приобритение автомобиля , дополнительного или высшего образования возращают его реже, чем при других целях. Одиннадцать с половиной процентов людей не возращают долг во время, при указании цели на дополнительное образование. Это самый высокий показатель , который мы получили. Поэтому стоит к нему отнестись внимательнее. В то же время, самые отвественные люди по выплате кредита-это люди с уровнем зарплаты от 400 до 500 тысяч рублей. Стоит это также отметить.